<div class="menu" *ngIf="isLoggedIn">
  <div class="button-wrapper">
    <div class="left-side">
      <img src="../assets/logo-ztpai.png" [routerLink]="''">
    </div>
    <div class="right-side">
      <button [routerLink]="'/workers'">Workers</button>
      <button [routerLink]="'/tasks'">Tasks</button>
      <button [routerLink]="'/hours'">Hours</button>
      <button [routerLink]="'/login'" (click)="logout()">Wyloguj</button>
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>