<div class="main-container">
    <div class="left-side">
      <img src="../../../../../assets/logo-ztpai-black.png">
    </div>
    <div class="right-side">
      <form class="register-form" [formGroup]="form">
        <p class="header">Zarejestruj się do systemu</p>
        <p class="login-header">Imię</p>
        <input formControlName="name">
        <p class="login-header">Nazwisko</p>
        <input formControlName="surname">
        <p class="login-header">Login</p>
        <input formControlName="login">
        <p class="login-header">Hasło</p>
        <input formControlName="password" type="password">
        <br />
        <button (click)="register()" class="submit-btn">POTWIERDŹ</button>
      </form>
    </div>
  </div>
  