<div class="main-container">
  <div class="left-side">
    <img src="../../../../../assets/logo-ztpai-black.png">
  </div>
  <div class="right-side">
    <form class="login-form" [formGroup]="form">
      <p class="header">Log in to access the system</p>
      <p class="login-header">Login</p>
      <div>
        <input formControlName="login">
      </div>
      <p class="login-header">Password</p>
      <div>
        <input formControlName="password" type="password">
      </div>
      <br />
      <button (click)="login()" class="submit-btn">SUBMIT</button>
    </form>
  </div>
</div>
